__recovery
__history
Win??

/Test/*.local
/Test/*.identcache
/Test/*.dsk
/Test/*.dsv
/Test/*.~dsk
/Test/Test.Slim.exe
/Test/dunitx-results.xml
/Test/TestInsightSettings.ini

/Example/*/*.identcache
/Example/*/*.dsk
/Example/*/*.dsv
/Example/*/*.local
/Example/*/*.~dsk

/Projects/*/*.identcache
/Projects/*/*.dsk
/Projects/*/*.dsv
/Projects/*/*.local
/Projects/*/*.~dsk
/Projects/SlimProxy/Logs

/FitNesse/FitNesseRoot/FitNesse
/FitNesse/FitNesseRoot/files/testResults/
/FitNesse/FitNesseRoot/**/20[0-9][0-9]*.zip
/FitNesse/FitNesseRoot/RecentChanges.wiki
/FitNesse/FitNesseRoot/RerunLastFailures_*.wiki
