__recovery
__history
Win32
/Test/*.local
/Test/*.identcache
/Test/*.dsk
/Test/*.~dsk
/Test/Test.Slim.exe
/Test/dunitx-results.xml
/Example/*/*.identcache
/Example/*/*.dsk
/Example/*/*.local
/Example/*/*.~dsk
/Test/TestInsightSettings.ini
/FitNesse/FitNesseRoot/FitNesse
/FitNesse/FitNesseRoot/files/testResults/
/FitNesse/FitNesseRoot/**/20[0-9][0-9]*.zip
/FitNesse/FitNesseRoot/RecentChanges.wiki
/FitNesse/FitNesseRoot/RerunLastFailures_*.wiki
